.chartContainer {
    margin-bottom: 32px;
    max-width: 700px;
    height: 300px; /* fixed height for Recharts */
    padding: 16px;
    background-color: #1b1b1b;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.ribbon {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.titleCompanySection {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 40px;
}

.title {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 40px;
}

.titleSection {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 30px;
}

.divider {
    border: none;
    height: 1px;
    background-color: white;
    margin: 16px 0; /* optional spacing */
}


.customTooltip {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    max-width: 220px;
}

.tooltipLabel {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 15px;
}

.tooltipDescription {
    font-size: 14px;
    color: #555;
    margin: 2px 0 8px 0;
    line-height: 1.3;
}

.customTooltip p {
    margin: 0;
}

.customTooltip div {
    margin-bottom: 4px;
}
