@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}

.card {
    align-items: flex-start;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #616161;
    border-bottom-color: #4CAF50;
    background: linear-gradient(
            135deg,
            #1c1c1c,
            #2a2a2a,
            #1f1a24
    );
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: white;
    flex: 1 1 200px;
    height: 300px;
    min-width: 200px;
    max-width: 300px;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden;
    opacity: 0;
    animation: cardEnter 0.5s ease forwards;
}


.cardTitleText {
    color: white;
    font-size: 30px;
    font-family: 'MyCustomFont', sans-serif;
}

.card:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); /* Stronger shadow */
}

.value {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.icon {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    opacity: 0.3;
    pointer-events: none;
}

@keyframes cardEnter {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media (max-width: 600px) {
    .card > * {
        flex: 1 1 100%;
    }
}