@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}

.lightAdminHomePage,
.darkAdminHomePage {
    min-height: 100vh;
}

.lightAdminHomePage {
    background-color: #eae9e9;
    transition: background 0.5s ease, color 0.5s ease;
}
.darkAdminHomePage {
    background: #101010;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}

.lightAdminTitle,
.darkAdminTitle {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 40px;
    font-family: 'MyCustomFont';
}

.lightAdminTitle {
    color: black;
}

.darkAdminTitle {
    color: white;
}

.adminSubTitle {
    padding-left: 50px;
    font-size: 25px;
    color: #9e9e9e;
    font-family: 'MyCustomFont';
}

.divider {
    width: 98%;
}

.dividerContainer {
    display: flex;
    justify-content: center;
}