@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}

.lightBorrowerHomePage,
.darkBorrowerHomePage {
    min-height: 100vh;
}

.lightBorrowerHomePage {
    background-color: #eae9e9;
}
.darkBorrowerHomePage {
    background: #101010;
}

.lightBorrowerTitle,
.darkBorrowerTitle {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 40px;
    font-family: 'MyCustomFont';
}

.lightBorrowerTitle {
    color: black;
}

.darkBorrowerTitle {
    color: white;
}

.lightDivider {
    width: 98%;
    color: black;
}

.darkDivider {
    width: 98%;
    color: white;
}

.dividerContainer {
    display: flex;
    justify-content: center;
}

.subTitle {
    padding-left: 50px;
    font-size: 25px;
    color: #9e9e9e;
    font-family: 'MyCustomFont';
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}