@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 8rem;
    font-weight: bold;
    font-family: 'MyCustomFont', sans-serif;
    margin: 0;
}

.message {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
}

.homeLink {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: rgb(176, 230, 110);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s ease;
}

.homeLink:hover {
    background-color: rgb(150, 200, 80);
}