@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards in a row */
    gap: 20px;
    padding: 20px;
}
.dotList {
    list-style-type: disc;
    font-family: 'MyCustomFont', sans-serif;
    padding-left: 20px;
    margin: 10px 0;
    color: white;
    font-size: 26px;
}

.lightFeatureBox {
    background-color: #eae9e9;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.darkFeatureBox {
    background-color: black;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.readMoreText {
    align-items: center;
    background: linear-gradient(270deg, #51C342, #B9EB72, #51C342);
    border-radius: 34px;
    color: #323232;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 26px;
    gap: 6px;
    height: 50px;
    justify-content: center;
    width: 220px;
}

.titleTextSection {
    padding-left: 30px;
    background: linear-gradient(
            135deg,        /* angle of the gradient */
            #121212,       /* start color (darker) */
            #1a1a1a 50%,   /* mid-tone (darker) */
            #121212 100%   /* end color (darker) */
    );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.arrowIcon {
    width: 16px;                 /* adjust based on your design */
    height: 16px;
    display: inline-block;
    object-fit: contain;
}

@media (min-width: 769px) and (max-width: 1150px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .titleText {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: 1fr;
    }

    .titleText {
        display: flex;
        flex-direction: column;
        font-size: 32px;
        text-align: center;
    }
}