@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}

.backgroundBox {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 60px 80px;
}

.feature-box{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f2123;
}

.imageContainer {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.carousel{
    padding: 40px;
}

.swiper-button-next{
    color: #4caf50;
}

.listContainerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 40px;
    animation: gridFadeIn 3s ease-out forwards;
    opacity: 0;
}

.listBox {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
}

.listBoxTitle {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 40px;
}

.listBodyText {
    max-width: 700px;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.titleTextSection {
    padding-left: 30px;
}

.dotList {
    list-style-type: disc;
    font-family: 'MyCustomFont', sans-serif;
    padding-left: 20px;
    margin: 10px 0;
    color: white;
    font-size: 26px;
}


@media (max-width: 768px) {
    .listContainerGrid {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }

    .titleText {
        display: flex;
        flex-direction: column;
        font-size: 32px;
        text-align: center;
    }
}

@keyframes gridFadeIn {
    from {
        opacity: 0;
        transform: scale(0.98); /* optional: subtle zoom */
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Position custom arrows in the middle */
.carousel :global(.custom-prev),
.carousel :global(.custom-next) {
    position: absolute;
    top: 50%;                /* middle vertically */
    transform: translateY(-50%);
    z-index: 20;             /* stay above slides */
    font-size: 2rem;         /* bigger arrows */
    color: white;            /* arrow color */
    cursor: pointer;
    user-select: none;
}

/* Adjust spacing from edges */
.carousel :global(.custom-prev) {
    left: 10px;
}

.carousel :global(.custom-next) {
    right: 10px;
}