@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}

.lightBottomBanner,
.darkBottomBanner {
    display: flex;
    height: 70px;
    width: 100%;
    margin-top: 20px;
}


.lightBottomBanner {
    background-image: url('/images/lightHex.svg');
}

.darkBottomBanner {
    background-image: url('/images/hexPattern.svg');
}

/* Background Adjustment */
.lightFeatureBox,
.darkFeatureBox {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lightFeatureBox {
    background-color: #eae9e9;
}

.darkFeatureBox {
    background-color: black;
}

.splitBox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 60px 40px;
    gap: 20px;
}

/*Para Mode Colours*/
.lightParaTextBox,
.darkParaTextBox {
    flex: 1 1;
    min-width: 0;
    max-width: 1000px;
    height: auto;
    padding: 40px;
    border-radius: 8px;
}

.lightParaTextBox {
    background-color: #bfbfbf;
}

.darkParaTextBox {
    background-color: #1f2123;
}

/*Text Mode Colours*/
.lightTitleText,
.darkTitleText {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 60px;
}

.lightTitleText {
    color: black;
}

.darkTitleText {
    color: white;
}

.lightParaText,
.darkParaText {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 26px;
}

.lightParaText {
    color: black;
}

.darkParaText{
    color: white;
}

.imageBox {
    flex: 1 1;
    min-width: 0;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.imageBoxImage {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;

}

.textDivider {
    width: 100%;
    border-top: 2px solid #AAE66B;
    opacity: 0.5;
    padding-bottom: 20px;
}

.titleSection {
    padding-top: 40px;
    padding-left: 30px;
    background: linear-gradient(
            135deg,
            #121212,
            #1a1a1a 50%,
            #121212 100%
    );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.wavePattern {
    width: 100%;
    height: 50px;
    overflow: hidden;
    line-height: 0;
    margin-top: 40px;
}

.wavePattern svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #AAE66B;
}

@media (max-width: 768px) {
    .titleSection {
        text-align: center;
    }
    .splitBox {
        align-items: center;
        flex-direction: column;
    }

    .textBox {
        order: 1;
        flex:none;
        width: 100%;
        max-width: 100%;
    }

    .imageBox {
        order: 2;
        flex:none;
        width: 100%;
        max-width: 100%;
    }
}