@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Iceland-Regular.ttf') format('truetype');
}

.customFont {
    font-family: 'MyCustomFont', sans-serif;
}

.lightLenderHomePage,
.darkLenderHomePage {
    min-height: 100vh;
}

.lightLenderHomePage {
    background-color: #eae9e9;
}
.darkLenderHomePage {
    background: #101010;
}

.lightLenderTitle,
.darkLenderTitle {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 40px;
    font-family: 'MyCustomFont';
}

.lightLenderTitle {
    color: black;
}

.darkLenderTitle {
    color: white;
}

.lightDivider {
    width: 98%;
    color: black;
}

.darkDivider {
    width: 98%;
    color: white;
}

.dividerContainer {
    display: flex;
    justify-content: center;
}